<?xml version="1.0" encoding="UTF-8"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
            <plugin>ign_ros2_control/IgnitionSystem</plugin>
            <param name="calculate_dynamics">true</param>
        </hardware>
    
        <joint name="chassis_lower_to_left_drive_wheel">
            <command_interface name="velocity"/>
             <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>

        <joint name="chassis_lower_to_right_drive_wheel">
            <command_interface name="velocity"/>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>
</robot>